@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./global.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklab(0.958184 0.0128697 0.00403672);
  --accent: #cf7c7c;
  --sidebar: oklab(0.933528 0.0206833 0.0065456);
  --card: #fcf1f1;

  --saturation: 60%;
  --brightness: 70%;
}

.dark {
  --background: #181818;
  --accent: #eebebe;
  --sidebar: oklch(0.205 0 0);
  --card: #212121;

  --saturation: 70%;
  --brightness: 60%;
}

.text-gradient {
  @apply bg-gradient-to-r from-[#a1c4fd] to-[#c2e9fb] bg-clip-text
    text-transparent;
}

:where([data-astro-image]) {
  object-fit: var(--fit);
  object-position: var(--pos);
}
:where([data-astro-image="full-width"]) {
  width: 100%;
}
:where([data-astro-image="constrained"]) {
  max-width: 100%;
}

/* Typography rules */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl md:text-5xl;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5,
h6 {
  @apply text-lg;
}

nav a,
nav span {
  @apply text-lg;
}
