@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.banner {
  background-image: url("../assets/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, var(--background), rgba(0, 0, 0, 0));
}

:root {
  --background: oklab(0.958184 0.0128697 0.00403672);
  --accent: #cf7c7c;
  --sidebar: oklab(0.933528 0.0206833 0.0065456);
}

.dark {
  --background: #181818;
  --accent: #eebebe;
  --sidebar: oklch(0.205 0 0);
}

/* Typography rules */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl md:text-5xl;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5,
h6 {
  @apply text-lg;
}

p:not([data-slot="card"] p) {
  @apply lg:text-lg;
}

nav a,
nav span {
  @apply text-lg;
}
