---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>
    in progress, if you urgently need contact, use one of the options listed <a
      href="/"
      class="text-accent hover:underline">here</a
    >
  </h1>
</Layout>
