---
import moment from "moment-timezone";
import { FaRegClock } from "react-icons/fa";

const timeZone = moment
  .tz(new Date(), "Europe/Warsaw")
  .format("z")
  .toLowerCase();
---

<div class="flex flex-row items-center gap-3">
  <div class="border border-accent p-2 rounded-sm">
    <FaRegClock />
  </div>
  <span>
    {timeZone} ∙{" "}
    <span class="text-muted-foreground" id="clock"></span>
  </span>
</div>
<script>
  // Wait until DOM is ready
  document.addEventListener("astro:after-swap", startClock);
  document.addEventListener("DOMContentLoaded", startClock);

  function startClock() {
    const clockElement = document.getElementById("clock");

    // Exit if the clock isn't present
    if (!clockElement) return;

    const timeFormat = new Intl.DateTimeFormat([], {
      timeZone: "Europe/Warsaw",
      hour: "numeric",
      minute: "numeric",
      second: "numeric",
      hour12: false,
    });

    const updateClock = () => {
      clockElement.textContent = timeFormat.format(new Date());
    };

    updateClock(); // initial update
    const intervalId = setInterval(updateClock, 1000);

    // Clean up interval on page swap
    const stopClock = () => {
      clearInterval(intervalId);
      document.removeEventListener("astro:after-swap", startClock);
      document.removeEventListener("astro:page-leave", stopClock);
    };

    document.addEventListener("astro:page-leave", stopClock);
  }
</script>
