---
import { ThemeToggle } from "./ThemeToggle";
const currentRoute = Astro.url.pathname;

const routes = [
  {
    route: "/",
    label: "home",
  },
  { route: "/about/", label: "about" },
  { route: "/contact/", label: "contact" },
];
---

<nav class="container mx-auto p-4 xl:p-6">
  <div class="flex justify-center items-center gap-4">
    {
      routes.map(({ route, label }) =>
        currentRoute == route ? (
          <span class="underline route-disabled">{label}</span>
        ) : (
          <a href={route} class="hover:text-accent duration-150">
            {label}
          </a>
        )
      )
    }
    <ThemeToggle client:load />
  </div>
</nav>
