---
const routes = [
  {
    route: "/",
    label: "home",
  },
  { route: "/about", label: "about" },
  { route: "/contact", label: "contact" },
];

const currentPath = Astro.url.pathname;
---

<nav class="container mx-auto flex justify-between items-center p-6">
  <div class="text-accent">
    <h1 class="text-xl font-bold">xchrl</h1>
  </div>
  <div class="flex gap-4">
    {
      routes.map(({ route, label }) =>
        currentPath == route ? (
          <span class="underline">{label}</span>
        ) : (
          <a href={route} class="hover:text-accent duration-150">
            {label}
          </a>
        )
      )
    }
  </div>
  <div>placeholder</div>
</nav>
