---
import { items } from "@/data/aboutItems.ts";
import { Image } from "astro:assets";

const { type, name } = Astro.props;

const item = items[type][name];
const link = item.href;
const icon = item.icon;
---

<a
  class={`px-4 py-2 border border-accent rounded-md w-max flex items-center gap-4 hover:scale-125 hover:bg-accent hover:text-background duration-150 hover:cursor-pointer ${item.highlight ? "bg-accent/20" : ""}`}
  href={link}
  target="_blank"
>
  {icon && <Image src={icon} format="svg" alt={name + " icon"} width="16" />}
  <span class="font-bold">{name}</span>
</a>
