---
import { items } from "@/data/aboutItems.ts";

const { name } = Astro.props;

const link = items[name].href;
const icon = items[name].icon;
---

<a
  class={`px-4 py-2 border border-accent rounded-md w-max flex items-center gap-4 hover:scale-125 hover:bg-accent hover:text-background duration-150 hover:cursor-pointer ${items[name].highlight ? "bg-accent/20" : ""}`}
  href={link}
  target="_blank"
>
  {icon && <img src={icon.src} alt={name} width="16" loading="lazy" />}
  <span class="font-bold">{name}</span>
</a>
