---
import Navbar from "@/components/Navbar";
import "../styles/global.css";
import "../styles/theme.css";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>xchrl | portfolio</title>
  </head>
  <body class="dark font-display">
    <header class="w-full bg-sidebar">
      <Navbar currentRoute={Astro.url.pathname} client:load />
    </header>
    <main
      class="container mx-auto px-4 lg:px-48 py-8 my-4 flex flex-col gap-4 md:gap-12"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
