---
import Navbar from "@/components/Navbar.astro";
import "../styles/global.css";
import "../styles/theme.css";
import Footer from "@/components/Footer.astro";
import { Toaster } from "@/components/ui/sonner";
import { ClientRouter } from "astro:transitions";
import lilith from "@/assets/lilith.gif";
import { Image } from "astro:assets";

const isOnHome = Astro.url.pathname == "/";
---

<script is:inline>
  function setDarkMode(document) {
    const getThemePreference = () => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "theme-light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "theme-light");
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      });
    }
  }
  setDarkMode(document);

  document.addEventListener("astro:before-swap", (ev) => {
    // Pass the incoming document to set the theme on it
    setDarkMode(ev.newDocument);
  });
</script>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="charlie's website" />
    <meta name="author" content="xchrl" />
    <meta name="keywords" content="xchrl, charlie, portfolio, website" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>xchrl | portfolio</title>
    <ClientRouter />
  </head>
  <body class="font-display overflow-x-hidden">
    <Toaster position="bottom-right" client:load />
    <header
      class={`w-full sticky ${isOnHome && "lg:fixed"} top-0 bg-sidebar/90 z-1 backdrop-blur-md`}
    >
      <Navbar />
    </header>
    <main transition:animate="slide">
      <!-- 
      Wrap each page in the following div:
        <div class="mx-auto max-w-10/12 lg:max-w-17/20 xl:max-w-7/10 py-4 lg:py-8 my-4 flex flex-col gap-4 md:gap-8 text-center md:text-start"></div>
      -->
      <slot />
    </main>
    <div class="flex flex-col">
      <Image
        src={lilith}
        alt="Lilith GIF"
        width={64}
        class="mx-auto mb-1 md:mx-0 md:self-end md:mr-12 -scale-x-100"
      />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
